{% extends 'Dashboard/Base.html'%}
<!-- CSS -->
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename = 'styles/Dashboard/Classroom.css')}}" /> {%
endblock %}
<!-- CONTENT -->
{% block content %}
<main class="content d-flex">
	{% include 'includes/Classroom/ClassroomModal.html' %}
	<div class="content-header">
		<h1 class="mb-0">CLASSROOM</h1>
	</div>
	<div class="content-search d-flex">
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">CREATE</button>
		<div class="input-group">
			<input
				type="text"
				class="form-control"
				placeholder="Recipient's username"
				aria-label="Recipient's username"
				aria-describedby="button-addon2" />
			<button class="btn btn-success" type="button" id="button-addon2">Button</button>
		</div>
	</div>
	<div class="content-rooms">
		{% for room in rooms%}
		<a href="" class="rooms">
			<div class="room-details d-flex">
				<div class="room-name">
					<h4><b>{{room.section_name}}</b></h4>
				</div>
				<div class="room-department">
					<h6><b>Department:</b> {{room.collegiate.collegiate_shorten}}</h6>
				</div>
				<div class="room-adviser">
					<h6><b>Adviser:</b> {{room.section.fullName}}</h6>
				</div>
				<div class="room-department-logo">
					<img class="rooms-img" src="{{url_for('static',filename = 'img/card.png')}}" alt="" />
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
	<div class="content-pagination">some pagina</div>
</main>
{% endblock %}
