{% extends 'Dashboard/Base.html'%}
<!-- CSS -->
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename = 'styles/Dashboard/Profile.css')}}" /> {%
endblock %}
<!-- CONTENT -->
{% block content %}
<main class="content">
	<div class="profile">
		<div class="profile-type d-flex">
			<p class="m-0">{{current_user.type}}</p>
		</div>
		<div class="profile-background"></div>
		<div class="profile-details d-flex">
			<div class="profile-first d-flex">
				<div class="profile-img">
					<img class="p-img" src="{{current_user.profile_image_loc}}" alt="" />
				</div>
				<div class="profile-name d-flex">
					<div class="p-name">
						<h2 class="m-0"><b>{{current_user.fullName}}</b></h2>
					</div>
					<div class="p-department">
						<h6 class="m-0">{{current_user.faculty_collegiate.collegiate_name}}</h6>
					</div>
				</div>
			</div>
			<div class="profile-second">
				<button class="btn btn-success">Edit</button>
			</div>
		</div>
	</div>
	<div class="profile-items">
		<div class="p-item">
			<div class="grid-heading">
				<h2>Intro</h2>
			</div>
			<div class="intro-items">
				<div class="location">
					<span class="i-items material-icons-sharp"> home </span>
					<p class="m-0">From DLSUD</p>
				</div>
				<div class="department">
					<span class="i-items material-icons-sharp"> location_city </span>
					<p class="m-0">{{current_user.faculty_collegiate.collegiate_name}}</p>
				</div>
				<div class="department">
					<span class="i-items material-icons-sharp"> auto_stories </span>
					<p class="m-0">“No act of kindness, no matter how small, is ever wasted.” —Aesop</p>
				</div>
				<div class="department">
					<span class="i-items material-icons-sharp"> watch_later </span>
					<p class="m-0">MWF 10AM TO 10 PM</p>
				</div>
			</div>
		</div>
		<div class="p-item">
			<div class="grid-heading">
				<h2>About</h2>
			</div>
			<div class="about-content">
				<p></p>
			</div>
		</div>
	</div>
</main>
{% endblock %}
