{% extends 'DBase.jinja'%}
{% block css %} <link rel="stylesheet" href="../../styles/{{url_for('static',filename='styles/Dashboard/dashboard_classroom.css')}}" /> {% endblock %}
{% block title %} <title>DLSUD SAMS | UPLOAD IMAGE</title> {% endblock %}

{% block content %}
<div class="main-content container-fluid">
    <div class="main-header">
        <div class="db-header">
            <h1 class="mb-0">UPLOAD IMAGE</h1>
        </div>
    </div>
    <div class="content-container">
        <div class="add-container">
            <form action="">
                <div class="add-header text-center">
                    <h2>UPLOAD IMAGE</h2>
                    <h3>Must be .jpg or .png only!</h3>
                </div>
                <div class="add-img">
                    <span class="material-icons-round"> add_photo_alternate </span>
                </div>
                <div class="input-group">
                    <input type="file" class="form-control" id="image_input" />
                </div>
                <br />
                <button type="submit" class="submitBtn"><b>UPLOAD</b></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}