@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');
* {
	font-family: 'Plus Jakarta Sans', sans-serif;
}
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-image: url('../../img/bg4.png');
	background-size: cover;
}

header {
	margin-bottom: 50px;
}

header .signUp {
	text-decoration: none;
	color: white;
	padding: 8px;
	margin-left: 15px;
	border: 2px green solid;
	border-radius: 10px;
	background-color: green;
}
header .cont {
	text-align: center;
	align-items: center;
}
main {
	min-height: calc(100vh - 250px);
	margin-bottom: 50px;
}

main section {
	margin-bottom: 5px;
}
main .head {
	margin-bottom: 10px;
}
main .btn {
	color: white;
	border: 1px green solid;
	border-radius: 4px;
	background-color: green;
}
#forgotPass {
	color: green !important;
	text-decoration: none;
	font-size: 12px !important;
}
form {
	width: 500px;
	background: #fff;
	box-shadow: 0 24px 64px #26214a1a;
	border-radius: 12px;
	padding: 30px 60px;
	position: relative;
	margin-bottom: 30px;
}
#rememberMe {
	margin-right: 5px;
	font-size: 16px;
}

footer p {
	padding: 0;
	margin: 0;
}
