<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel"><b>CREATE CLASSROOM</b></h1>
			</div>
			<form action="/classroom" method="POST" enctype="multipart/form-data">
				<div class="modal-body">
					{{section_form.hidden_tag()}}
					<div class="form-floating mb-3">
						{{section_form.courseName(class = "form-select")}}
						<label for="floatingSelect"><b>Course</b></label>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-floating mb-3">
								{{section_form.year(class = "form-select")}}
								<label for="floatingSelect"><b>Year Level</b></label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating mb-3">
								{{section_form.section(class = "form-select")}}
								<label for="floatingSelect"><b>Section</b></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col input-group mb-3 upload">{{section_form.file(class = "form-control" )}}</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					{{section_form.submit(class = "btn btn-success")}}
				</div>
			</form>
		</div>
	</div>
</div>
