<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOTSTRAP CSS-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
       <link rel="icon" href="https://www.convertico.com/images/1669479958.004/_previmg.png">	
       <!-- CSS -->
        {% block css %} {% endblock %}
        <!-- Normalize -->
        <link rel="stylesheet" href="{{url_for('static',filename = 'styles/normalize.css')}}">
        <title>{% block title%} {% endblock %} </title>
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <nav class="navbar navbar-expand-lg bg-white align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <a href="{{url_for('home_page')}}" class="navbar-brand">
                                <img src="{{url_for('static',filename = 'img/logo.png')}}" alt="" width="250"
                                    height="66.28">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 d-flex align-items-baseline
                        justify-content-end">
                        {% block choice %} {% endblock %}
                    </div>
                </div>
            </nav>
        </header>

        <!-- FUTURE CONTENT -->
        {% block content %} 
        
        
        {% endblock%}
        <!-- FOOTER -->
        <footer class="text-center align-items-center">
            <p> <b>© 2022 DLSU-D SAMS, Inc. All rights reserved.</b></p>
        </footer>

        <!-- BOOTSTRAP SCRIPT  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    </body>
</html>