{% extends 'Create&Login/CLBase.html'%}
{% from 'Create&Login/create_macro.html' import firstName_field,middleName_field,lastName_field,idNumber_field,emailAddress_field,password1_field,password2_field%}
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename= 'styles/Create&Login/create_s.css')}}" /> {% endblock %}
{% block title %} DLSUD SAMS | CREATE STUDENT ACCOUNT {% endblock %}

{% block account %} 
<div class="col-xl-6 d-flex align-items-baseline justify-content-end gap-2">
	<p>Already have an account?</p>
	<a href="{{url_for('login_page')}}" class="signUp">Login</a>
</div>
{% endblock %}

{% block content %}
<div class="create container mt-3">
    <div class="loginheader">
        <h5 class="text-center text-light"><b>CREATE AN ACCOUNT</b></h5>
        <h6 class="text-center text-light"></b>Fill in your
            required details to register in the
            attendance portal</b></h6>
    </div>
    <br>
    <!-- FORM CONTAINER -->
    <div class="form container">
        <form action="" method="POST" novalidate>
            {{student_form.hidden_tag()}}
            <h6 class="text-center"><b>STUDENT ACCOUNT DETAILS</b></h6>
            
            <!-- PERSONAL DETAILS -->
            <!-- FN,MI,LN -->
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        {{firstName_field(student_form)}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{middleName_field(student_form)}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{lastName_field(student_form)}}
                    </div>
                </div>
            </div>

            <!-- ID NUMBER -->
            <div class="input-group mt-3">
                {{idNumber_field(student_form)}}
            </div>

            <!-- EMAIL -->
            <div class="input-group mt-3">
                {{emailAddress_field(student_form)}}
            </div>

            <!-- PASSWORD -->
            <div class="input-group mt-3">
                {{password1_field(student_form)}}
            </div>

            <div class="input-group mt-3">
               {{password2_field(student_form)}}
            </div>
            <br>
            {{student_form.submit(class = "registerBtn")}}
        </form>
    </div>

    <!-- CHANGE TO PROFESSOR -->
    <div class="acctType">
        <a href="{{url_for('faculty_page')}}">Create Account as Faculty</a>
    </div>
</div>
<script type="module" src="{{url_for('static',filename = 'js/Axios/StudentAxios.js')}}"></script>
{% endblock %}