{% extends 'Create&Login/CLBase.html'%}
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename= 'styles/Create&Login/create_s.css')}}" /> {% endblock %}
{% block title %} DLSUD SAMS | CREATE STUDENT ACCOUNT {% endblock %}

{% block account %} 
<div class="col-xl-6 d-flex align-items-baseline justify-content-end gap-2">
	<p>Already have an account?</p>
	<a href="{{url_for('login_page')}}" class="signUp">Login</a>
</div>
{% endblock %}

{% block content %}
<div class="create container mt-3">
    <div class="loginheader">
        <h5 class="text-center text-light"><b>CREATE AN ACCOUNT</b></h5>
        <h6 class="text-center text-light"></b>Fill in your
            required details to register in the
            attendance portal</b></h6>
    </div>
    <br>
    <!-- FORM CONTAINER -->
    <div class="form container">
        <form action="" method="POST">
            {{student_form.hidden_tag()}}
            <h6 class="text-center"><b>STUDENT ACCOUNT DETAILS</b></h6>
            
            <!-- PERSONAL DETAILS -->
            <!-- FN,MI,LN -->
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        {{student_form.firstName(class = "form-control",placeholder = "First name",id = "first_name")}}
                        <label for="first_name">First name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{student_form.middleName(class = "form-control",placeholder = "Middle name",id = "initial")}}
                        <label for="initial">Middle I.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{student_form.lastName(class = "form-control",placeholder = "Last name",id = "last_name")}}
                        <label for="last_name">Last name</label>
                    </div>
                </div>
            </div>

            <!-- ID NUMBER -->
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <img src="{{url_for('static',filename ='img/person-badge.svg')}}" alt="">
                </span>
                <div class="form-floating">
                    {{student_form.idNumber(class = "form-control border-start-0",placeholder = "ID Number",id = "id_input")}}
                    <label for="id_input">ID Number</label>
                </div>
            </div>

            <!-- EMAIL -->
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <img src="{{url_for('static',filename ='img/envelope.svg')}}" alt="">
                </span>
                <div class="form-floating">
                    {{student_form.emailAddress(type = "email",class = "form-control form-control border-start-0",placeholder = "Email Address",id = "email_input")}}
                    <label for="email_input">Email Address</label>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="input-group mt-3">
                <span class="input-group-text">
                    <img src="{{url_for('static',filename ='img/shield-lock.svg')}}" alt="">
                </span>
                <div class="form-floating">
                    {{student_form.password1(type = "password",class = "form-control form-control border-start-0",placeholder = "Password",id = "password_input")}}
                    <label for="password_input">Password</label>
                </div>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    <img src="{{url_for('static',filename ='img/shield-lock.svg')}}" alt="">
                </span>
                <div class="form-floating">
                    {{student_form.password2(type = "password",class = "form-control form-control border-start-0",placeholder = "Confirm Password",id = "password_confirm")}}
                    <label for="password_confirm">Confirm Password</label>
                </div>
            </div>
            <br>
            {{student_form.submit(class = "registerBtn")}}
        </form>
    </div>

    <!-- CHANGE TO PROFESSOR -->
    <div class="acctType">
        <a href="{{url_for('faculty_page')}}">Create Account as Faculty</a>
    </div>
</div>
<script type="module" src="{{url_for('static',filename = 'js/Axios/StudentAxios.js')}}"></script>
{% endblock %}