{% extends 'Create&Login/CLBase.html'%}
{% from 'Create&Login/create_macro.html' import firstName_field,middleName_field,lastName_field,birthDate_field,emailAddress_field,password1_field,password2_field%}
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename= 'styles/Create&Login/create_p.css')}}" /> {% endblock %}
{% block title %} DLSUD SAMS | CREATE FACULTY ACCOUNT {% endblock %} 

{% block account %}
<div class="col-xl-6 d-flex align-items-baseline justify-content-end gap-2">
	<p>Already have an account?</p>
	<a href="{{url_for('login_page')}}" class="signUp">Login</a>
</div>
{% endblock %}

{% block content %}
<div class="create container mt-3">
	<div class="loginheader">
		<h5 class="text-center text-light"><b>CREATE AN ACCOUNT</b></h5>
		<h6 class="mb-0 text-center text-light"></b>Fill in your
			required details to register in the
			attendance portal</b></h6>
	</div>
	<br>
	<!-- FORM CONTAINER -->
	<!-- FN,MI,LN -->
	<div class="form container">
		<form action="" method="POST" novalidate>
			{{faculty_form.hidden_tag()}}
			<h6 class="text-center"><b>FACULTY ACCOUNT DETAILS</b></h6>
			
			<div class="row">
				<div class="col">
					<div class="form-floating">
						{{firstName_field(faculty_form)}}
					</div>
				</div>
				<div class="col">
					<div class="form-floating">
						{{middleName_field(faculty_form)}}
					</div>
				</div>
				<div class="col">
					<div class="form-floating">
						{{lastName_field(faculty_form)}}
					</div>
				</div>
			</div>

			<!-- COLLEGIATE -->
			<div class="input-group mt-3">
				<span class="input-group-text">
					<img src="{{url_for('static',filename ='img/mortarboard.svg')}}" alt="">
				</span>
				<div class="form-floating">
					{{faculty_form.collegiate(class = "form-control form-select border-start-0",placeholder = "Collegiate",id = "collegiate_input")}}
					<label for="collegiate_input">Collegiate</label>
				</div>
			</div>

			<!-- BIRTHDATE -->
			<div class="input-group mt-3">
				{{birthDate_field(faculty_form)}}
			</div>

			<!-- EMAIL -->
			<div class="input-group mt-3">
				{{emailAddress_field(faculty_form)}}
			</div>

			<!-- PASSWORD1 -->
			<div class="input-group mt-3">
				{{password1_field(faculty_form)}}
			</div>

			<!-- PASSWORD2 -->
			<div class="input-group mt-3">
				{{password2_field(faculty_form)}}
			</div>
			<br>
			{{faculty_form.submit(class = "registerBtn")}}
		</form>
	</div>

	<!-- CHANGE TO STUDENT  -->
	<div class="acctType mb-3">
		<a href="{{url_for('student_page')}}">Create account as Student</a>
	</div>
</div>
<script type="module" src="{{url_for('static',filename = 'js/Axios/FacultyAxios.js')}}"></script>

{% endblock %}
 