{% extends 'Create&Login/CLBase.jinja'%}
{% block css %} <link rel="stylesheet" href="{{url_for('static',filename= 'styles/Create&Login/create_p.css')}}" /> {% endblock %}
{% block title %} DLSUD SAMS | CREATE PROFESSOR ACCOUNT {% endblock %} 

{% block account %}
<div class="col-xl-6 d-flex align-items-baseline justify-content-end gap-2">
	<p>Already have an account?</p>
	<a href="{{url_for('login_page')}}" class="signUp">Login</a>
</div>
{% endblock%}

{% block content %}
    <div class="create container mt-3">
				<div class="loginheader">
					<h5 class="text-center text-light"><b>CREATE AN ACCOUNT</b></h5>
					<h6 class="mb-0 text-center text-light"></b>Fill in your
                        required details to register in the
                        attendance portal</b></h6>
				</div>
				<br>
				<!-- FORM CONTAINER -->
				<!-- FN,MI,LN -->
				<div class="form container">
					<form action="">
						<h6 class="text-center"><b>PROFESSOR ACCOUNT DETAILS</b></h6>
						<div class="row">
							<div class="col">
								<div class="form-floating">
									<input type="text" class="form-control" placeholder="First name",id='first_name'>
									<label for="first_name">First name</label>
								</div>
							</div>
							<div class="col">
								<div class="form-floating">
									<input type="text" class="form-control" placeholder="First name",id='initial'>
									<label for="initial">M.I</label>
								</div>
							</div>
							<div class="col">
								<div class="form-floating">
									<input type="text" class="form-control" placeholder="First name",id='last_name'>
									<label for="last_name">Last name</label>
								</div>
							</div>
						</div>

						<!-- COLLEGIATE -->
						<div class="input-group mt-3">
							<span class="input-group-text">
								<img src="{{url_for('static',filename ='img/mortarboard.svg')}}" alt="">
							</span>
							<div class="form-floating">
							<input type="text" class="form-control" placeholder="ID Number" id = collegiate_input>
							<label for="collegiate_input">Collegiate</label>
							</div>
						</div>

						<!-- BIRTHDATE -->
						<div class="input-group mt-3">
							<span class="input-group-text">
								<img src="{{url_for('static',filename ='img/calendar-date.svg')}}" alt="">
							</span>
							<div class="form-floating">
							<input type="date" class="form-control" placeholder="ID Number" id = date_input>
							<label for="date_input">Birthdate</label>
							</div>
						</div>

						<!-- EMAIL -->
						<div class="input-group mt-3">
							<span class="input-group-text">
								<img src="{{url_for('static',filename ='img/envelope.svg')}}" alt="">
							</span>
							<div class="form-floating">
							<input type="email" class="form-control" placeholder="ID Number" id = email_input>
							<label for="email_input">Email</label>
							</div>
						</div>

						<!-- PASSWORD -->
						<div class="input-group mt-3">
							<span class="input-group-text">
								<img src="{{url_for('static',filename ='img/shield-lock.svg')}}" alt="">
							</span>
							<div class="form-floating">
							<input type="password" class="form-control" placeholder="ID Number" id = password_input>
							<label for="password_input">Password</label>
							</div>
						</div>
						<br>
						<button class="registerBtn">Register</button>
					</form>
				</div>

				<!-- CHANGE TO STUDENT  -->
				<div class="acctType mb-3">
					<a href="{{url_for('student_page')}}">Create account as Student</a>
				</div>
			</div>

{% endblock %}
    