{% extends 'Create&Login/CLBase.html'%} {% from 'Create&Login/login_macros.html' import email_field,password_field %} {%
block css %} <link rel="stylesheet" href="{{url_for('static',filename = 'styles/Create&Login/login.css')}}" /> {%
endblock %} {% block title %} DLSUD SAMS | LOGIN ACCOUNT {% endblock %} {% block account %}
<div class="col-xl-6 d-flex align-items-baseline justify-content-end gap-2">
	<p>Don't have an account?</p>
	<a href="{{url_for('student_page')}}" class="signUp">Sign Up</a>
</div>
{% endblock %} {% block content%}
<div class="login container mt-3">
	<div class="loginheader">
		<h5 class="text-center text-light"><b>LOG IN TO YOUR ACCOUNT</b></h5>
		<h6 class="text-center text-light"><b>Fill in your required details to log in to the attendance portal</b></h6>
	</div>
	<br />
	<div class="form container">
		{# TEMPORARY #}
		<form action="" method="POST" novalidate>
			{{login_form.hidden_tag()}}
			<b>EMAIL</b>
			<!-- MACRO FOR EMAIL FIELD! -->
			<div class="input-group">{{email_field(login_form)}}</div>
			<b class="mt-2">PASSWORD</b>
			<!-- MACRO FOR PASSWORD FIELD! -->
			<div class="input-group">{{password_field(login_form)}}</div>
			<div class="forgot-password mt-2">
				<a href="">Forgot Password</a>
			</div>
			{{login_form.submit(class = 'loginBtn')}}
		</form>
	</div>
</div>
<script type="module" src="{{url_for('static',filename = 'js/login.js')}}"></script>
{% endblock %}
