<!-- MACRO FOR EMAIL FIELD -->
{% macro email_field(email_field) %} {% if 'Missing' in email_field.emailAddress.errors %}
<span class="input-group-text bg-white" style="border-color: red">
	<img src="{{url_for('static',filename ='img/envelope.svg')}}" alt="" />
</span>
<div class="form-floating">
	{{email_field.emailAddress(class = "form-control border-start-0 is-invalid" , placeholder = "Email Address",id =
	"email_input" )}}
	<label for="email_input">Email Address <b style="color: red">*</b></label>
</div>
{% elif 'Must be DLSUD email.' in email_field.emailAddress.errors %}
<span class="input-group-text bg-white" style="border-color: red">
	<img src="{{url_for('static',filename ='img/envelope.svg')}}" alt="" />
</span>
<div class="form-floating">
	{{email_field.emailAddress(class = "form-control border-start-0 is-invalid" , placeholder = "Email Address",id =
	"email_input" )}}
	<label for="email_input" style="color: red">Must be DLSUD email</label>
</div>
{% else %}
<span class="input-group-text bg-white">
	<img src="{{url_for('static',filename ='img/envelope.svg')}}" alt="" />
</span>
<div class="form-floating">
	{{email_field.emailAddress(class = "form-control border-start-0", placeholder = "Email Address",id = "email_input" )}}
	<label for="email_input">Email Address</label>
</div>
{% endif %} {% endmacro %}
<!-- MACRO FOR PASSWORD -->
{% macro password_field(password_field) %} {% if 'Missing' in password_field.password.errors %}
<span class="input-group-text bg-white" style="border-color: red">
	<img src="{{url_for('static',filename ='img/shield-lock.svg')}}" alt="" />
</span>
<div class="form-floating">
	{{password_field.password(type = "password",class = "form-control border-start-0 border-end-0",style =
	"border-color:red" , placeholder = "Password",id = "password_input" )}}
	<label for="password_input">Password <b style="color: red">*</b></label>
</div>
<span class="input-group-text bg-white" style="border-color: red">
	<a href="" id="show_password"><span class="material-icons-outlined"> visibility </span></a>
</span>
{% else %}
<span class="input-group-text bg-white">
	<img src="{{url_for('static',filename ='img/shield-lock.svg')}}" alt="" />
</span>
<div class="form-floating">
	{{password_field.password(type = "password",class = "form-control border-start-0 border-end-0" , placeholder =
	"Password",id = "password_input" )}}
	<label for="password_input">Password</label>
</div>
<span class="input-group-text bg-white">
	<a href="" id="show_password"><span class="material-icons-outlined"> visibility </span></a>
</span>
{% endif %} {% endmacro %}
