{% extends 'Create&Login/CLBase.jinja'%}

{% block css %} <link rel="stylesheet" href="{{url_for('static',filename = 'styles/Create&Login/login.css')}}">{% endblock %}

{% block title %} DLSUD SAMS | LOGIN {% endblock %}

{% block choice%}
<div class="cont">Don't have an account?</div>
<a href="{{url_for('student_page')}}" class="signUp">Sign up</a>
{% endblock %}

{% block content %} 
        <!-- MAIN -->
        <main>
            <div class="container">
                 <div class="head">
                            <section class="d-flex justify-content-center"><b>LOG IN TO YOUR STUDENT ACCOUNT</b></section>
                            <section class="d-flex justify-content-center text-center">Fill in your required details to log in to the
                            attendance portal</section>
                        </div>
                <div class="form_container d-flex justify-content-center">
                    <form action="">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label m-0"><b>Email</b></label>
                            <div class="input-group">
                                <img class="input-group-text bg-white "
                                    id="addon-wrapping" src="{{url_for('static',filename ='img/envelope.svg')}}"></img>
                                <input type="email" class="form-control border-start-0"
                                    id="inputEmail"
                                    placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="inputPassword" class="form-label m-0"><b>Password</b></label>
                            <div class="input-group">
                                <img class="input-group-text bg-white"
                                    id="addon-wrapping" src="{{url_for('static',filename ='img/shield-lock.svg')}}"></img>
                                <input type="password" class="form-control border-start-0 border-end-0"
                                id="inputPassword"
                                placeholder="Enter your password">
                                <a href="" class="input-group-text bg-white" id="addon-wrapping">
                                <img src="{{url_for('static',filename ='img/eye-slash.svg')}}"></img>
                                    </a>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                                <a id="forgotPass" class="bg-white" href="#">Forgot password?</a> 
                        
                            </div>   
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn">Login</button>
                        </div>

                    </form>
                </div>
                <div class="btmFiller d-flex justify-content-center">Don't have an account?<a href="{{url_for('student_page')}}" class="ms-2 text-white">Sign up!</a></div> 
            </div>

        </main>
{% endblock %}