@import url('../Dashboard/Base.css');
/* ==========================================================================
									MAIN CONTENT
   ==========================================================================
*/
main.content {
	flex-direction: column;
	margin: 0;
	height: calc(100vh - var(--header-height));
	overflow-y: auto;
	width: 100%;
}
	.content > * {
		margin: 0 1rem 0 1rem;
	}
	div.content-header {
		height: 50px;
	}
		.content-header h1 {
			color: var(--main-color);
		}

	div.content-search {
		height: 40px;
		justify-content: flex-end;
	}
		button.material-icons-sharp{
			height: 40px !important;
		}
		.input-group {
			margin-left: 1rem;
			width: 300px;
		}
		.form-control:focus{
			border: 2px solid #198754;
			box-shadow: none !important;
		}
			
			
.content-rooms{
	display: grid;
	grid-template-columns: repeat(4,1fr
	);
	justify-content: space-between;
	margin-top: 1rem;
	gap: 2rem;
	padding: 5px;
	/* border: 1px solid red; */
	/* height: calc(var(--main-content) - 150px); */
}

.card-custom{
	background-size: cover;
	color: white;
	padding: 10rem 0 0;
	max-width: 35ch;
	border-radius: .5rem;
	overflow: hidden;
	
	transition: transform 500ms ease;
}

.card-custom:hover{
	transform:scale(1.05)
}
.card-custom:hover .card-title::after{
	transform: scaleX(1);
}
.card-custom:hover .card-content{
	transform: translateY(0);
	transition-delay: 500ms;
}
.card-custom:hover .card-content > * {
	opacity: 1;
}

.card-content{
	--padding:1.5rem;
	padding: var(--padding);
	background: linear-gradient(
		hsl(0 0% 0% / 0 ),
		hsl(20 0% 0% / 0.3 ) 20%,
		hsl(0 0% 0% / 1 )
	);

	transform: translateY(65%);
	transition: transform 500ms ease;
	transition-delay: 500ms;
}
.card-content > *:not(.card-title) {
	opacity: 0;
	transition: opacity 500ms linear;
	transition-delay: 1000ms;
}

.card-title{
	position: relative;
	width: max-content;
}

.card-title::after{
	content: "";
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1 );
	bottom: -2px;
	width:calc(100% + var(--padding));
	background-color: var(--main-color);

	transform: scaleX(0);
	transform-origin: left;
	transition: transform 500ms ease;
}

.card-body{
	color: rgb(255, 255, 255 / 0.9);
}

.button{
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #fafafa;
	background-color: var(--main-color);
	padding: .5em 1.25em;
	border-radius: .25em;
}
.button:hover,.button:focus {
	background-color: #fafafa;
	color: var(--main-color);
}

.disabled{
	display: none;
}



/* ==========================================================================
									MODAL
   ==========================================================================
*/
.modal-content{
	background-color: #fafafa;
}
	.modal-img{
		width: 200px;
	}
	.modal-title{
		color: #198754;
	}

.form-check-label{
	color: #198754;
	font-weight: 400;
}
.form-check-input:checked{
	background-color: #198754;
}
.form-check-input:focus{
	border-color: #198754;
	box-shadow: 0 0 0 0 #198754;
}

#create{
	background-color: #198754;
	color: #fafafa;
}