@import url('../Dashboard/Base.css');
/* ==========================================================================
									MAIN CONTENT
   ==========================================================================
*/
main.content {
	flex-direction: column;
	margin: 0 1rem 0 1rem;
	height: calc(100vh - var(--header-height));
	overflow-y: auto;
	width: 100%;
}
	div.content-header {
		height: 50px;
	}
		.content-header h1 {
			color: var(--main-color);
		}

	div.content-search {
		height: 40px;
		justify-content: flex-end;
	}
		.input-group {
			margin-left: 1rem;
			width: 300px;
		}
			

	div.content-rooms {
		display: inline-grid;
		grid-template-columns: repeat(5, 15rem);
		justify-content: space-between;
		margin-top: 1rem;
		height: calc(var(--main-content) - 150px);
	}
		.card-body {
			flex-direction: column;
		}
			.card-img {
				height: 100px;
			}
	


