@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

/* =============================================
                    SIDE BAR
   =============================================
*/
.side-bar {
	background: #fafafa;
	box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	height: 100%;
	margin-right: 5px;
}

.logo {
	border-bottom: 1px solid grey;
	position: relative;
	display: flex;
	align-items: center;
}
.logo > :not(:last-child) {
	padding: 5px;
}
.logo-text {
	display: flex;
	flex-direction: column;
}

button {
	padding: 0;
	border: none;
	background: none;
}
.arrow {
	color: #fafafa;
	background: rgba(0, 114, 42, 0.65);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
	border-radius: 5px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
}

li:last-child {
	position: absolute;
	bottom: 0;
}

.nav-item a {
	color: black;
	padding: 3px;
	text-decoration: none;
	display: flex;
	justify-content: center;
}
.item-name {
	display: none;
}

.nav-item .item-icon {
	font-size: 26px;
}

/* =============================================
                    MAIN CONTENT
   =============================================
*/
main {
	background-image: url(../../img/dbg.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}
.main-content {
	width: 100%;
	height: 99%;
	display: flex;
	flex-direction: column;
}
.main-content span {
	display: flex;
	justify-content: end;
	align-items: center;
}
.main-content span > * {
	margin: 3px;
}
.main-header {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

.db-header h1 {
	color: rgba(0, 114, 42, 0.65);
}
.table-container {
	height: 100%;
	padding: 10px;
	background: rgba(250, 250, 250, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
}
table {
	width: 100%;
	text-align: center;
}
.table-header {
	display: flex;
	justify-content: space-around;
}
.table-header button {
	color: #fafafa;
	padding: 5px;
	background: rgba(0, 114, 42, 0.65);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
	border-radius: 5px;
}
.table-header h2 {
	font-weight: bold;
	color: rgba(0, 114, 42, 0.65);
}
.table-header > * {
	margin: 5px;
}
.choice {
	display: flex;
	justify-content: center;
}
.choice a {
	padding: 2px;
	margin: 0 3px 0 3px;
	text-decoration: none;
	color: black;
}

.edit {
	background-color: yellow;
	border-radius: 5px;
}
.delete {
	background-color: red;
	border-radius: 5px;
}
/* DOM */

.active {
	transition: all 100ms ease-in-out;
}
.active:hover {
	color: rgba(0, 114, 42, 0.65);
	margin-left: 2px;
	padding: 3px;
	background: #fafafa;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 2px;
}

.anim:hover {
	color: rgba(0, 114, 42, 0.65);
	animation: shake 1.5s infinite !important;
}

@keyframes shake {
	10% {
		transform: scale(1.05) rotate(5deg);
	}
	20% {
		transform: scale(1.05) rotate(-5deg);
	}
	30% {
		transform: scale(1.05) rotate(5deg);
	}
	40% {
		transform: none;
	}
}
