main.content {
	--content-height:calc(100vh - var(--header-height));
	flex-direction: column;
	margin: 0 1rem 0 1rem;
	height: var(--content-height);
	overflow-y: auto;
	width: 100%;
}
    div.content-header {
        display: flex;
        margin-top: 1rem;
        height: 50px;
    }
    .content-header > *:not(.subject-code){
        display: flex;
        align-items: center;
        justify-content: start;
    }
        .content-header h2 {
        
            margin-left: .5rem;
            color: var(--main-color);
        }		
        .content-header a{
        
            color: black;
            text-decoration: none;
        }

    .subject-details{
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
        .subject-details > *{
            padding: .25rem;
        }
            .subject-code{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        
    .subject-search{
        margin-top: .5rem;
        display: flex;
    }
        .input-group{
            margin-left: 1rem;
        }
    .subject-table{
        height: calc(var(--content-height) - 165px);
        background: rgba( 212, 203, 203, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 16.5px );
        -webkit-backdrop-filter: blur( 16.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
        .table-header{
            justify-content: space-evenly;
        }
        .edit, .delete{
            display: flex;
            justify-content: center;
            background: rgba( 21, 116, 72, 0.7 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 16.5px );
            -webkit-backdrop-filter: blur( 16.5px );
            border-radius: 5px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            padding: 2px;
            margin: 0;
            width: 30px;
            height: 30px;
        }
        
        .edit:hover{
            background-color: white;
            color:  yellow;
        }
        .delete:hover{
            background-color: white;
            color: red;
        }
        .edit span , .delete span{
            display: flex;
            justify-content: center;
            font-size: 25px !important;
        }

    