/*
*  FONTS
*/
   @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

/* ==========================================================================
                            HEADER / NAVIGATION BAR
   ========================================================================== */
* {
    /* outline: 1px solid black; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 2px -2px #15151533;
}
    div.nav-img {
        padding: 15px 40px; 
        margin-left: 40px;
        margin-right: 300px;
    }
        .nav-img > img {
            width: 250px;
        } 

    div.nav-link {
        padding: 15px 10px;
        margin: 0 10px;
    }
        .nav-link > ul {
            padding: 12px;
            margin: 10px 0;
        }
        .nav-link > ul > li {
            display: inline-block;
            margin-right: 20px;
        }
            .a-link {
                color: black;
            }
            .a-link:hover {
                color: #129712;
                text-decoration: none;  
            }

    div.nav-btn {
        padding: 20px 10px;
        margin: 0 40px 0 327px;
    }
        .btn {
            padding: 10px 20px;
            margin: 5px 0;
            border-radius: 5px;
        }
        .btn-light {
            margin-right: 10px;
            border: 0;
            background-color: white;
        }
            .btn-light:hover {
                background-color: #6bba53;
                color: white;
            }
        
/* ==========================================================================
                                     MAIN
   ========================================================================== */

main {
    background-color: #f6f6f6;
}
    section.main-desc {
        padding: 80px 0 0 40px;
        position: relative;
        width: 835px;
        height: 718.5px;
        margin: 3px 40px;
    }
        .main-desc > img {
            position: absolute;
            width: 520px;
            top: 80px;
            left: 870px;
        }
        .main-desc > h1 {
            padding: 10px 0;
            margin: 0 0 10px 0;
            font-size: 70px;
            font-weight: 600;
        }
        .main-desc > h2 {
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: 100;
            color: #656565;
        }
        .main-desc > p {
            padding-right: 40px;
            margin-bottom: 35px;
            font-size: 20px;
        }
        .a-btn {
            padding: 15px 35px;
        }
            .a-btn:hover {
                background-color: #a8d73f;
                color: black;
            }

    section.main-features {
        display: flex;
        flex-direction: row;
        padding: 0 40px;
        height: 220px;
        background-color: #f9efe8;
    }
        .main-features > h2 {
            padding: 20px 0 0 40px;
            margin: 70px 0 50px 0;
            font-weight: 300;
        }
        .main-features > div {
            display: flex;
            flex-direction: row;
            width: 1080px;
            height: 100px;
            margin: 70px 0 50px 30px;
        }
            .main-features-icon {
                width: 290px;
            }
                .main-features-icon > img {
                   display: inline-block;
                   width: 85px;    
                }
                .main-features-icon > h3 {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 15px;
                    width: 150px;
                    font-size: 25px;
                    font-weight: 600;
                    font-style: oblique;
                }
/* ==========================================================================
                                     FOOTER
   ========================================================================== */    

footer {
    margin: 100px 40px;
}
    div.row {
        margin: 10px 0;
        /* width: 800px; */
    }
    div.user-guide {
        margin: 0px 40px;
    }
        .user-guide > .empty {
            color: white;
        }
        .user-guide > h5, h5{
            font-weight: 800;
        }
    .contact-support {
        margin-top: 20px;
    }
        .contact-support > a {
            display: block;
            margin-bottom: 5px;
        }
        .contact-support > p {
            margin-top: 20px;
        }
    .company-name {
        margin: 40px 0 20px 40px;
        padding-top: 25px;
    }

