<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLSU-D SAMS</title>
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{url_for('static',filename = 'img/landing/resized-logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles/Landing/landing.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/Landing/sticky.js')}}"></script>
    <script src="https://kit.fontawesome.com/8012ae3e72.js" crossorigin="anonymous"></script>
</head>
</head>

<body>
    <header class="banner-header">
        <section id="mobile-navigation" class="mobile-navigation mobile-navigation__open">
            <div class="close-button" onclick="toggleMobileNavigation()">
                <button><i class="fa fa-close"></i></button>
            </div>
            <ul class="mobile-links">
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{url_for('login_page')}}">Log in</a></li>
            </ul>
        </section>
        <a class="img-link" href="#"><img class="logo" src="{{url_for('static', filename = 'img/landing/dlsu-d.png')}}"
                alt="dlsu-d logo"></a>
        <nav class="menu hide-element">
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="nav-btn hide-element">
            <a href="{{url_for('login_page')}}"><button class="btn navigation-btn">Log In</button></a>
        </div>
        <div class="burger show-element">
            <button><i class="fa fa-reorder"></i></button>
        </div>
    </header>
    <main class="banner banner-content">
        <section class="main-content">
            <h1>Say goodbye to <span class="accent-color">paper-based</span>
                attendance tracking and hello to <span class="accent-color">digital
                    convenience</span>. Easily monitor attendance using <span class="accent-color">cutting edge
                    technology</span>.
            </h1>
            <div class="btn-container">
                <small>Meticuously planned and developed for students and professors.</small>
                <a href="{{url_for('student_page')}}"><button class="btn main-btn student-btn">For Students</button></a>
                <a href=""><button class="btn main-btn prof-btn">For Professors</button></a>
            </div>
        </section>
        <section class="banner-shapes">
            <img class="ban-shape1 shape" src="{{url_for('static',filename = 'img/landing/shape1.svg')}}"
                alt="pacman shape">
            <img class="ban-shape2 shape" src="{{url_for('static',filename = 'img/landing/shape2.svg')}}"
                alt="diamond shape">
            <img class="ban-shape3 shape" src="{{url_for('static',filename = 'img/landing/shape3.svg')}}"
                alt="hexagon shape">
            <img class="ban-shape4 shape" src="{{url_for('static',filename = 'img/landing/shape4.svg')}}"
                alt="triangle shape">
            <img class="ban-shape6 shape" src="{{url_for('static',filename = 'img/landing/shape6.svg')}}"
                alt="circle shape">
            <img class="ban-shape7 shape" src="{{url_for('static',filename = 'img/landing/shape7.svg')}}"
                alt="cross shape">
            <span class="ban-circle1 circle"><img src="{{url_for('static',filename = 'img/landing/ban-circle.svg')}}"
                    alt="circle"></span>
            <span class="ban-circle2 circle"><img src="{{url_for('static',filename = 'img/landing/ban-circle.svg')}}"
                    alt="circle"></span>
            <span class="ban-circle3 circle"><img src="{{url_for('static',filename = 'img/landing/ban-circle.svg')}}"
                    alt="circle"></span>
            <span class="ban-circle4 circle"><img src="{{url_for('static',filename = 'img/landing/ban-circle.svg')}}"
                    alt="circle"></span>
        </section>

    </main>
    <section class="why-automate">
        <div id="features" class="why-automate-container">
            <div class="why-automate-card">
                <div class="card-item">
                    <i class="fa fa-clock fa-icon"></i>
                    <h3>Time-efficient</h3>
                    <p>The system is designed to quickly and accurately identify individuals, reducing the time spent on
                        taking attendance.</p>
                </div>
            </div>
            <div class="why-automate-card highlight">
                <div class="card-item">
                    <i class="fa fa-window-restore fa-icon"></i>
                    <h3>Responsive</h3>
                    <p>The system is designed to be compatible with different screen sizes, devices, and web browsers,
                        allowing for easy access and use on any device.</p>
                </div>
            </div>
            <div class="why-automate-card">
                <div class="card-item">
                    <i class="fa fa-circle-user fa-icon"></i>
                    <h3>User-friendly</h3>
                    <p>The system features a simple and intuitive interface that makes it easy for users to navigate,
                        understand, and use.</p>
                </div>
            </div>
            <div class="why-automate-card highlight">
                <div class="card-item">
                    <i class="fa fa-server fa-icon"></i>
                    <h3>Real-time</h3>
                    <p>The system is designed to provide real-time updates on attendance, so users can stay on top of
                        attendance data at all times.</p>
                </div>
            </div>
            <div class="why-automate-card">
                <div class="card-item">
                    <i class="fa fa-circle-info fa-icon"></i>
                    <h3>Time tracking</h3>
                    <p>The system is designed to track the time when an individual is marked present, and generate
                        reports on attendance times.</p>
                </div>
            </div>
            <div class="why-automate-card highlight">
                <div class="card-item">
                    <i class="fa fa-leaf fa-icon"></i>
                    <h3>Increased productivity</h3>
                    <p>The system is designed to automate the attendance process and increase productivity by reducing
                        manual tasks and errors</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a class="link-1" href="#">Home</a>
                <a href="#">FAQs</a>
                <a href="#">Privacy Policy</a>
                <a id="contact" href="mailto:dlsud_sams@gmail.com">Contact Us</a>
            </p>
            <p>DLSU-D SAMS &copy; 2023</p>
        </div>
    </footer>
</body>

</html>