<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DLSU-D SAMS | Home</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static',filename = 'styles/normalize.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename = 'styles/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename = 'styles/Landing/landing_page.css')}}" />
		<link rel="icon" href="https://www.convertico.com/images/1669479958.004/_previmg.png">	
	</head>
	<body>
		<div class="hero">
			<!-- HEADER -->
			<header>
				<div class="nav-img">
					<img src="{{url_for('static',filename = 'img/logo.png')}}" alt="dlsu-d logo" />
				</div>

				<div class="nav-link">
					<ul>
						<li><a class="a-link" href="">Home</a></li>
						<li><a class="a-link" href="">Contact</a></li>
					</ul>
				</div>

				<div class="nav-btn">
					<a href="{{url_for('login_page')}}"><input class="btn btn-light" type="button" value="Log in" /></a>
					<a href="{{url_for('student_page')}}"><input class="btn btn-dark" type="button" value="Sign up" /></a>
				</div>
			</header>
			<!-- MAIN -->
			<main>
				<section class="main-desc">
					<h1>Automated Attendance Monitoring System</h1>
					<h2>Designed for students and professors.</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum tempora eligendi officia sit, impedit
						vitae, necessitatibus suscipit velit cumque, vero adipisci iure perferendis.
					</p>
					<a href=""><input class="a-btn btn btn-dark" type="button" value="Get Started" /></a>
					<img src="{{url_for('static',filename = 'img/attendance.svg')}}" alt="attendance checking" />
				</section>

				<section class="main-features">
					<h2>Why Automate?</h2>
					<div>
						<div class="main-features-icon">
							<img src="{{url_for('static',filename = 'img/real_time.png')}}" alt="real time icon" />
							<h3>Real Time Attendance</h3>
						</div>

						<div class="main-features-icon">
							<img src="{{url_for('static',filename = 'img/excel.png')}}" alt="excel icon" />
							<h3>Attendance Report</h3>
						</div>

						<div class="main-features-icon">
							<img src="{{url_for('static',filename = 'img/reliable.png')}}" alt="reliable icon" />
							<h3>Reliable & Safe</h3>
						</div>

						<div class="main-features-icon">
							<img src="{{url_for('static',filename = 'img/smartphone.png')}}" alt="smartphone" />
							<h3>Optimized for various screens.</h3>
						</div>
					</div>
				</section>
			</main>
			<!-- BOOTSTRAP FOOTER -->
			<footer>
				<div class="row">
					<div class="user-guide">
						<h5>User Guides</h5>
						<ul class="nav flex-column">
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For Students</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For Professors</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Databases</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">UI Research</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Presentation</a></li>
						</ul>
					</div>

					<div class="user-guide">
						<h5 class="empty">User Guide</h5>
						<ul class="nav flex-column">
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
						</ul>
					</div>

					<div class="user-guide">
						<h5>About DLSU-D SAMS</h5>
						<ul class="nav flex-column">
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Technology Stack</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Algorithms</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
							<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
						</ul>
					</div>

					<div class="col-md-5 offset-md-1 mb-3">
						<h5>Contact</h5>
						<div class="contact-support">
							<a href="">(+63) 859 2393 3598</a>
							<a href="mailto:someone@example.com">support@dlsud-sams.com</a>
							<p>Got any concerns? We'll address it through our contact information provided.</p>
						</div>
					</div>
				</div>

				<div class="company-name border-top">
					<p>&copy; 2022 DLSU-D SAMS, Inc. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</body>
</html>
