<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="{{ url_for('static', filename = 'styles/Dashboard/student/student_dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/Dashboard/student/student_profile.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/Dashboard/student/student_upload.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/Dashboard/toggle.js') }}"></script>
</head>

<body>
    <header class="dashboard-header">
        <div class="dashboard-navigation">
            <button id="menu-btn" class="menu-btn"><span class="material-symbols-rounded menu">menu</span></button>
            <h3>Profile</h3>
        </div>
        <div class="dashboard-profile">
            <div class="student-profile-image">
                <img class="student-image" src="{{ url_for('static', filename = 'img/student/spiderman.png') }}"
                    alt="student profile picture">
                <!-- <div class="edit">
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div> -->
            </div>
            <h3 class="student-name">Juan P. Dela Cruz
            </h3>
            <p class="student-id">2073452865</p>
        </div>
    </header>
    <!----------------------------- END OF HEADER --------------------------->
    <aside class="sidebar" id="sidebar">
        {% include 'includes/Dashboard/sidebar.html' %}
    </aside>
    <!---------------------------- END OF ASIDE -------------------------->
    <main class="dashboard-main-content">
        <section class="main-cards">
            <div class="card-container">
                <div class="why-upload-card">
                    <h3>Upload image for training</h3>
                    <p>Uploading your image is an important step in training our face recognition system to accurately
                        recognize you. By providing a clear and up-to-date image, you'll help improve the performance of
                        the system and ensure that you can be easily recognized. </p>
                    <p>Your participation in this process is
                        crucial to the success of our website and we appreciate your contribution.</p><br>
                    <a class="read-more" href="">Read More</a>
                </div>
                <!-- to improve -->
                <div class="upload-img-wrapper">
                    <form action="" method="POST">
                        <input class="img-upload" name="img-upload" type="file" name="img" accept="image/*">
                        <button class="upload-btn" type="submit">Upload</button>
                    </form>
                </div>
                <!-- <div class="card">
                    <div class="upload-img-wrapper">
                        <form action="" method="POST">
                            <input name="img-upload" type="file" name="img" accept="image/*">
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </section>
    </main>
    <!---------------------------- END OF MAIN ---------------------------->

</body>

</html>